@import "tailwindcss";

@theme {
  --color-primary: #213f78;
  --color-secondary: #e31e24;
  --color-black: #000;
  --color-white: #fff;
}

*{
  font-family: "jost", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
